PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/realestate_crm
JWT_SECRET=kodbrand_enterprise_crm_jwt_super_secret_key_2026_realestate
JWT_EXPIRES_IN=7d
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173
